<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/design.css">
   
</head>
<body>
    <div class="form-container">
        <h2>Create New Post</h2>
        <form method="post" action="/posts">
            <input type="text" placeholder="Enter username" name="username" required>
            <textarea placeholder="Enter your post" name="content" required></textarea>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</body>
</html>